-- MySQL dump 10.13  Distrib 9.3.0, for Win64 (x86_64)
--
-- Host: localhost    Database: banco_malvader
-- ------------------------------------------------------
-- Server version	9.3.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agencia`
--

DROP TABLE IF EXISTS `agencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agencia` (
  `id_agencia` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(50) NOT NULL,
  `codigo_agencia` varchar(10) NOT NULL,
  `endereco_id` int NOT NULL,
  PRIMARY KEY (`id_agencia`),
  UNIQUE KEY `codigo_agencia` (`codigo_agencia`),
  KEY `endereco_id` (`endereco_id`),
  CONSTRAINT `agencia_ibfk_1` FOREIGN KEY (`endereco_id`) REFERENCES `endereco` (`id_endereco`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agencia`
--

LOCK TABLES `agencia` WRITE;
/*!40000 ALTER TABLE `agencia` DISABLE KEYS */;
INSERT INTO `agencia` VALUES (2,'Ag├¬ncia Central','0001',2);
/*!40000 ALTER TABLE `agencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditoria`
--

DROP TABLE IF EXISTS `auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditoria` (
  `id_auditoria` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int DEFAULT NULL,
  `acao` varchar(50) NOT NULL,
  `data_hora` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `detalhes` text,
  PRIMARY KEY (`id_auditoria`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `auditoria_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=272 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria`
--

LOCK TABLES `auditoria` WRITE;
/*!40000 ALTER TABLE `auditoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cliente` (
  `id_cliente` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int DEFAULT NULL,
  `score_credito` decimal(5,2) DEFAULT '0.00',
  PRIMARY KEY (`id_cliente`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `cliente_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
INSERT INTO `cliente` VALUES (2,11,4.20),(3,12,0.00),(4,13,0.00),(5,14,0.00);
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conta`
--

DROP TABLE IF EXISTS `conta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conta` (
  `id_conta` int NOT NULL AUTO_INCREMENT,
  `numero_conta` varchar(20) NOT NULL,
  `id_agencia` int NOT NULL,
  `saldo` decimal(15,2) NOT NULL DEFAULT '0.00',
  `tipo_conta` enum('POUPANCA','CORRENTE','INVESTIMENTO') NOT NULL,
  `id_cliente` int NOT NULL,
  `data_abertura` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `status` enum('ATIVA','ENCERRADA','BLOQUEADA') NOT NULL DEFAULT 'ATIVA',
  `id_funcionario_abertura` int DEFAULT NULL,
  PRIMARY KEY (`id_conta`),
  UNIQUE KEY `numero_conta` (`numero_conta`),
  KEY `id_agencia` (`id_agencia`),
  KEY `id_cliente` (`id_cliente`),
  KEY `idx_numero_conta` (`numero_conta`),
  KEY `fk_conta_funcionario` (`id_funcionario_abertura`),
  CONSTRAINT `conta_ibfk_1` FOREIGN KEY (`id_agencia`) REFERENCES `agencia` (`id_agencia`),
  CONSTRAINT `conta_ibfk_2` FOREIGN KEY (`id_cliente`) REFERENCES `cliente` (`id_cliente`),
  CONSTRAINT `fk_conta_funcionario` FOREIGN KEY (`id_funcionario_abertura`) REFERENCES `funcionario` (`id_funcionario`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conta`
--

LOCK TABLES `conta` WRITE;
/*!40000 ALTER TABLE `conta` DISABLE KEYS */;
INSERT INTO `conta` VALUES (4,'123456-7',2,1800.00,'POUPANCA',2,'2025-06-17 02:04:42','ATIVA',NULL),(7,'6543210',2,0.00,'POUPANCA',3,'2025-06-17 05:09:58','ATIVA',NULL),(8,'6543220',2,0.00,'CORRENTE',3,'2025-06-17 05:13:22','ENCERRADA',NULL),(9,'6543230',2,0.00,'INVESTIMENTO',3,'2025-06-17 05:14:33','ATIVA',3),(10,'77',2,9382.00,'POUPANCA',4,'2025-06-17 22:17:19','ATIVA',3),(11,'8888',2,250.00,'POUPANCA',5,'2025-06-18 01:53:15','ATIVA',3),(12,'777',2,2000.00,'CORRENTE',4,'2025-06-18 06:35:46','ATIVA',3);
/*!40000 ALTER TABLE `conta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conta_corrente`
--

DROP TABLE IF EXISTS `conta_corrente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conta_corrente` (
  `id_conta_corrente` int NOT NULL AUTO_INCREMENT,
  `id_conta` int NOT NULL,
  `limite` decimal(15,2) NOT NULL DEFAULT '0.00',
  `data_vencimento` date NOT NULL,
  `taxa_manutencao` decimal(5,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id_conta_corrente`),
  UNIQUE KEY `id_conta` (`id_conta`),
  CONSTRAINT `conta_corrente_ibfk_1` FOREIGN KEY (`id_conta`) REFERENCES `conta` (`id_conta`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conta_corrente`
--

LOCK TABLES `conta_corrente` WRITE;
/*!40000 ALTER TABLE `conta_corrente` DISABLE KEYS */;
INSERT INTO `conta_corrente` VALUES (1,8,1000.00,'2025-07-17',0.20),(2,12,2000.00,'2025-07-18',5.00);
/*!40000 ALTER TABLE `conta_corrente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conta_investimento`
--

DROP TABLE IF EXISTS `conta_investimento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conta_investimento` (
  `id_conta_investimento` int NOT NULL AUTO_INCREMENT,
  `id_conta` int NOT NULL,
  `perfil_risco` enum('BAIXO','MEDIO','ALTO') NOT NULL,
  `valor_minimo` decimal(15,2) NOT NULL,
  `taxa_rendimento_base` decimal(5,2) NOT NULL,
  PRIMARY KEY (`id_conta_investimento`),
  UNIQUE KEY `id_conta` (`id_conta`),
  CONSTRAINT `conta_investimento_ibfk_1` FOREIGN KEY (`id_conta`) REFERENCES `conta` (`id_conta`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conta_investimento`
--

LOCK TABLES `conta_investimento` WRITE;
/*!40000 ALTER TABLE `conta_investimento` DISABLE KEYS */;
INSERT INTO `conta_investimento` VALUES (1,9,'MEDIO',1000.00,1.00);
/*!40000 ALTER TABLE `conta_investimento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conta_poupanca`
--

DROP TABLE IF EXISTS `conta_poupanca`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conta_poupanca` (
  `id_conta_poupanca` int NOT NULL AUTO_INCREMENT,
  `id_conta` int NOT NULL,
  `taxa_rendimento` decimal(5,2) NOT NULL,
  `ultimo_rendimento` datetime DEFAULT NULL,
  PRIMARY KEY (`id_conta_poupanca`),
  UNIQUE KEY `id_conta` (`id_conta`),
  CONSTRAINT `conta_poupanca_ibfk_1` FOREIGN KEY (`id_conta`) REFERENCES `conta` (`id_conta`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conta_poupanca`
--

LOCK TABLES `conta_poupanca` WRITE;
/*!40000 ALTER TABLE `conta_poupanca` DISABLE KEYS */;
INSERT INTO `conta_poupanca` VALUES (1,4,0.05,NULL),(2,7,0.50,NULL),(3,10,0.05,NULL),(4,11,0.80,NULL);
/*!40000 ALTER TABLE `conta_poupanca` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `endereco`
--

DROP TABLE IF EXISTS `endereco`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `endereco` (
  `id_endereco` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `cep` varchar(10) NOT NULL,
  `local` varchar(100) NOT NULL,
  `numero_casa` int NOT NULL,
  `bairro` varchar(50) NOT NULL,
  `cidade` varchar(50) NOT NULL,
  `estado` char(2) NOT NULL,
  `complemento` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_endereco`),
  KEY `id_usuario` (`id_usuario`),
  KEY `idx_cep` (`cep`),
  CONSTRAINT `endereco_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `endereco`
--

LOCK TABLES `endereco` WRITE;
/*!40000 ALTER TABLE `endereco` DISABLE KEYS */;
INSERT INTO `endereco` VALUES (2,11,'12345678','Rua Teste',123,'Centro','Bras├¡lia','DF','Apto 101'),(3,12,'12345-678','Rua Nova',456,'Bairro Novo','Bras├¡lia','DF','Apto 202'),(4,13,'77777-777','Rua Sete',777,'Bairro sete','Bras├¡lia','DF','Apto 77'),(5,10,'12345678','Rua Teste',123,'Bairro Teste','S├úo Paulo','SP','Apto 101'),(6,14,'88888-888','Rua Oito',888,'Bairro Oito','Bras├¡lia','DF','Apto 888'),(7,21,'66666666','Teste',66,'Teste','Teste','TS',NULL),(8,22,'01922901','Rua Estagio',921,'Bairro Estagio','Bras├¡lia','DF',NULL);
/*!40000 ALTER TABLE `endereco` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `funcionario`
--

DROP TABLE IF EXISTS `funcionario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `funcionario` (
  `id_funcionario` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `codigo_funcionario` varchar(20) NOT NULL,
  `cargo` enum('ESTAGIARIO','ATENDENTE','GERENTE') NOT NULL,
  `id_supervisor` int DEFAULT NULL,
  PRIMARY KEY (`id_funcionario`),
  UNIQUE KEY `codigo_funcionario` (`codigo_funcionario`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_supervisor` (`id_supervisor`),
  CONSTRAINT `funcionario_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`),
  CONSTRAINT `funcionario_ibfk_2` FOREIGN KEY (`id_supervisor`) REFERENCES `funcionario` (`id_funcionario`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `funcionario`
--

LOCK TABLES `funcionario` WRITE;
/*!40000 ALTER TABLE `funcionario` DISABLE KEYS */;
INSERT INTO `funcionario` VALUES (3,10,'FUNC001','GERENTE',NULL),(4,21,'002','ATENDENTE',3),(5,22,'003','ESTAGIARIO',3);
/*!40000 ALTER TABLE `funcionario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `relatorio`
--

DROP TABLE IF EXISTS `relatorio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `relatorio` (
  `id_relatorio` int NOT NULL AUTO_INCREMENT,
  `id_funcionario` int NOT NULL,
  `tipo_relatorio` varchar(50) NOT NULL,
  `data_geracao` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `conteudo` text NOT NULL,
  PRIMARY KEY (`id_relatorio`),
  KEY `id_funcionario` (`id_funcionario`),
  CONSTRAINT `relatorio_ibfk_1` FOREIGN KEY (`id_funcionario`) REFERENCES `funcionario` (`id_funcionario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `relatorio`
--

LOCK TABLES `relatorio` WRITE;
/*!40000 ALTER TABLE `relatorio` DISABLE KEYS */;
/*!40000 ALTER TABLE `relatorio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transacao`
--

DROP TABLE IF EXISTS `transacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transacao` (
  `id_transacao` int NOT NULL AUTO_INCREMENT,
  `id_conta_origem` int NOT NULL,
  `id_conta_destino` int DEFAULT NULL,
  `tipo_transacao` enum('DEPOSITO','SAQUE','TRANSFERENCIA','TAXA','RENDIMENTO') NOT NULL,
  `valor` decimal(15,2) NOT NULL,
  `data_hora` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `descricao` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_transacao`),
  KEY `id_conta_origem` (`id_conta_origem`),
  KEY `id_conta_destino` (`id_conta_destino`),
  KEY `idx_data_hora` (`data_hora`),
  CONSTRAINT `transacao_ibfk_1` FOREIGN KEY (`id_conta_origem`) REFERENCES `conta` (`id_conta`),
  CONSTRAINT `transacao_ibfk_2` FOREIGN KEY (`id_conta_destino`) REFERENCES `conta` (`id_conta`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transacao`
--

LOCK TABLES `transacao` WRITE;
/*!40000 ALTER TABLE `transacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `transacao` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `limite_deposito` BEFORE INSERT ON `transacao` FOR EACH ROW BEGIN
    DECLARE total_dia DECIMAL(15,2);
    SELECT SUM(valor) INTO total_dia
    FROM transacao
    WHERE id_conta_origem = NEW.id_conta_origem
      AND tipo_transacao = 'DEPOSITO'
      AND DATE(data_hora) = DATE(NEW.data_hora);
    IF (total_dia + NEW.valor) > 10000 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Limite diário de depósito excedido';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `taxa_saque_excessivo` BEFORE INSERT ON `transacao` FOR EACH ROW BEGIN
    DECLARE saques_mes INT;
    DECLARE taxa DECIMAL(5,2) DEFAULT 5.00;

    IF NEW.tipo_transacao = 'SAQUE' THEN
        SELECT COUNT(*) INTO saques_mes
        FROM transacao
        WHERE id_conta_origem = NEW.id_conta_origem
          AND tipo_transacao = 'SAQUE'
          AND YEAR(data_hora) = YEAR(NEW.data_hora)
          AND MONTH(data_hora) = MONTH(NEW.data_hora);

        IF saques_mes >= 5 THEN
            INSERT INTO transacao (id_conta_origem, tipo_transacao, valor, data_hora, descricao)
            VALUES (NEW.id_conta_origem, 'TAXA', taxa, NEW.data_hora, 'Taxa por saque excessivo');
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `atualizar_saldo` AFTER INSERT ON `transacao` FOR EACH ROW BEGIN
    IF NEW.tipo_transacao = 'DEPOSITO' THEN
        UPDATE conta SET saldo = saldo + NEW.valor WHERE id_conta = NEW.id_conta_origem;
    ELSEIF NEW.tipo_transacao IN ('SAQUE', 'TAXA') THEN
        UPDATE conta SET saldo = saldo - NEW.valor WHERE id_conta = NEW.id_conta_origem;
    ELSEIF NEW.tipo_transacao = 'TRANSFERENCIA' THEN
        UPDATE conta SET saldo = saldo - NEW.valor WHERE id_conta = NEW.id_conta_origem;
        UPDATE conta SET saldo = saldo + NEW.valor WHERE id_conta = NEW.id_conta_destino;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id_usuario` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `cpf` varchar(11) NOT NULL,
  `data_nascimento` date NOT NULL,
  `telefone` varchar(15) NOT NULL,
  `tipo_usuario` enum('FUNCIONARIO','CLIENTE') NOT NULL,
  `senha_hash` varchar(255) NOT NULL,
  `otp_ativo` varchar(6) DEFAULT NULL,
  `otp_expiracao` datetime DEFAULT NULL,
  `endereco` text,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `cpf` (`cpf`),
  KEY `idx_cpf` (`cpf`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_movimentacoes_recentes`
--

DROP TABLE IF EXISTS `vw_movimentacoes_recentes`;
/*!50001 DROP VIEW IF EXISTS `vw_movimentacoes_recentes`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_movimentacoes_recentes` AS SELECT 
 1 AS `id_transacao`,
 1 AS `id_conta_origem`,
 1 AS `id_conta_destino`,
 1 AS `tipo_transacao`,
 1 AS `valor`,
 1 AS `data_hora`,
 1 AS `descricao`,
 1 AS `numero_conta`,
 1 AS `cliente`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_resumo_contas`
--

DROP TABLE IF EXISTS `vw_resumo_contas`;
/*!50001 DROP VIEW IF EXISTS `vw_resumo_contas`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_resumo_contas` AS SELECT 
 1 AS `id_cliente`,
 1 AS `nome`,
 1 AS `total_contas`,
 1 AS `saldo_total`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_movimentacoes_recentes`
--

/*!50001 DROP VIEW IF EXISTS `vw_movimentacoes_recentes`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_movimentacoes_recentes` AS select `t`.`id_transacao` AS `id_transacao`,`t`.`id_conta_origem` AS `id_conta_origem`,`t`.`id_conta_destino` AS `id_conta_destino`,`t`.`tipo_transacao` AS `tipo_transacao`,`t`.`valor` AS `valor`,`t`.`data_hora` AS `data_hora`,`t`.`descricao` AS `descricao`,`c`.`numero_conta` AS `numero_conta`,`u`.`nome` AS `cliente` from (((`transacao` `t` join `conta` `c` on((`t`.`id_conta_origem` = `c`.`id_conta`))) join `cliente` `cl` on((`c`.`id_cliente` = `cl`.`id_cliente`))) join `usuario` `u` on((`cl`.`id_usuario` = `u`.`id_usuario`))) where (`t`.`data_hora` >= (now() - interval 90 day)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_resumo_contas`
--

/*!50001 DROP VIEW IF EXISTS `vw_resumo_contas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_resumo_contas` AS select `c`.`id_cliente` AS `id_cliente`,`u`.`nome` AS `nome`,count(`co`.`id_conta`) AS `total_contas`,sum(`co`.`saldo`) AS `saldo_total` from ((`cliente` `c` join `usuario` `u` on((`c`.`id_usuario` = `u`.`id_usuario`))) join `conta` `co` on((`c`.`id_cliente` = `co`.`id_cliente`))) group by `c`.`id_cliente`,`u`.`nome` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-06-18  6:41:39
